*{
box-sizing: border-box;
}
body {
  background-color: darkgreen;
}
img {
  max-width: 100%;
  height: auto;
}

@media(min-width:500px) {
.container {
  overflow:auto;
  background-color: white;
  margin: 0 auto;
  max-width: 700px;
}
}

.first-column {
  float: left;
  width: 75%;
}
.second-column {
  float: right;
  width: 25%;
}
a {
  color: darkgreen;
}
h1 {
  font-family: georgia;
}
h3 {
  font-weight:normal;
  font-family: georgia;
}
h2 {
  margin-top: 50px;
  font-size: 24px;
  font-style: italic;
  font-family: georgia;
}
.epicurious {
  border-bottom: solid 5px #E8E8E8;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
